[Unit]
Description=Automatic build machine for Debian source package
ConditionPathExists=/home/debomatic/config/architectures/%i

[Service]
Type=notify
User=debomatic
ExecStart=/home/debomatic/debomatic/debomatic -c /home/debomatic/config/architectures/%i -i
ExecStop=/home/debomatic/debomatic/debomatic -c /home/debomatic/config/architectures/%i -q
KillMode=process
SendSIGKILL=no
TimeoutStopSec=0
Restart=on-failure
Slice=debomatic.slice

[Install]
WantedBy=multi-user.target
